<div class="col-md-6 col-md-offset-3 well">
  <h3 class="form-title">Flight Details</h3>
  <div class="">
    <p>From: <%= @flight.from_airport.airport_code %></p>
    <p>To: <%= @flight.to_airport.airport_code %></p>
    <p>Date: <%= @flight.date %></p>
  </div>
  <div>
    <h3 class="form-title">Passenger Details</h3>
    <% @booking.passengers.each do |passenger| %>
    <p>Adult: <%= passenger.name %></p>
    <% end %>
  </div>
  <%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span><%= pretty_amount @amount %></span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-description="A month's subscription"
      data-amount=<%= @amount %>
      data-locale="eur">
    </script>
  <% end %>
</div>

